/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

.bg-image {
  max-height: 400px;
}
.image-hight{
height: 400px;
}
